<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssm.OaManager.entity.hrm.Employee">
	<resultMap type="com.ssm.OaManager.entity.hrm.Employee" id="employeeMap">
		<id property="empId" column="EMP_ID" />
		<result property="empNumber" column="EMP_Number" />
		<result property="empName" column="EMP_Name" />
		<result property="empSex" column="EMP_Sex" />
		<result property="empAge" column="EMP_Age" />
		<result property="empBrithday" column="EMP_Brithday" />
		<result property="empSalary" column="EMP_Salary" />
		<result property="empTelephone" column="EMP_Telephone" />
		<result property="empAddress" column="EMP_Address" />
		<result property="empEntryDate" column="EMP_EntryDate" />
		<result property="MaritalStatus" column="marutakstatus" />
		<result property="empPhotoUrl" column="EMP_PhotoUrl" />

		<!-- 用户 -->
		<association property="user"
			resultMap="com.ssm.OaManager.entity.User.userMap"></association>
		<!-- 部门 -->
		<association property="dep"
			resultMap="com.ssm.OaManager.entity.hrm.Department.DeptInfoMap"></association>
		<!-- 岗位 -->
		<association property="pos"
			resultMap="com.ssm.OaManager.entity.hrm.Position.positionMap"></association>
	</resultMap>

	<sql id="table">
		TB_Emplyee
	</sql>

	<!-- 分页查询员工 -->
	<select id="findByPage" parameterType="com.ssm.OaManager.utils.PageBean"
		resultMap="employeeMap">
		select * from TB_Department d inner join TB_Emplyee e
		on d.dept_id =
		e.dept_id
		inner join TB_Position p
		on e.pos_id = p.pos_id
		inner join
		TB_USER u
		on e.user_id = u.user_id
		<where>
			<if test="paraMap.empNumber!=null">
				e.EMP_Number like #{paraMap.empNumber},
			</if>
			<if test="paraMap.empName!=null">
				e.EMP_Name like #{paraMap.empName},
			</if>
			<if test="paraMap.userName!=null">
				u.user_name like #{paraMap.userName},
			</if>
			<if test="paraMap.empSex!=null">
				e.emp_sex = #{paraMap.empSex},
			</if>
			<if test="paraMap.posId!=null">
				e.pos_id = #{paraMap.posId}
			</if>
			<if test="paraMap.depId!=null">
				e.dep_id = #{paraMap.depId}
			</if>
			<if test="paraMap.minSalary!=null">
				e.EMP_Salary>=${paraMap.minSalary}
			</if>
			<if test="paraMap.maxSalary!=null">
                         <![CDATA[e.EMP_Salary<=${paraMap.maxSalary}]]>
			</if>
		</where>
	</select>

	<!-- 查询所有员工工号 -->
	<select id="getEmployeeNumber" resultType="java.lang.String">
		select emp_number from
		TB_Emplyee
	</select>
	
	<!--根据部门ID查询该部门所有员工工号 -->
	<select id="getEmpNumber" parameterType="java.io.Serializable" resultMap="employeeMap">
		select emp_number from
		TB_Emplyee where dept_Id = #{dep.deptId}
	</select>

	<!-- 查询当前用户员工信息 -->
	<select id="findById" resultMap="employeeMap" parameterType="java.lang.Integer">
	select * from TB_Department d right join TB_Emplyee e
		on d.dept_id =
		e.dept_id
		left join TB_Position p
		on e.pos_id = p.pos_id
		left join
		TB_USER u
		on e.user_id = u.user_id
		where 1=1
		and u.state = 1
		and e.EMP_ID = #{id}
	</select>

	<!-- 根据用户查询员工信息 -->
	<select id="findByUserId" resultMap="employeeMap" parameterType="java.lang.Integer">
		select * from TB_Emplyee where user_id = #{userId}
	</select>

	<!-- 查询总记录数 -->
	<select id="findCount" resultType="java.lang.Integer"
		parameterType="com.ssm.OaManager.utils.PageBean">
		select count(emp_id) from TB_Emplyee
		<where>
			<if test="paraMap.empNumber!=null">
				e.EMP_Number like #{paraMap.empNumber},
			</if>
			<if test="paraMap.empName!=null">
				e.EMP_Name like #{paraMap.empName},
			</if>
			<if test="paraMap.userName!=null">
				u.user_name like #{paraMap.userName},
			</if>
			<if test="paraMap.empSex!=null">
				e.emp_sex = #{paraMap.empSex},
			</if>
			<if test="paraMap.posId!=null">
				e.pos_id = #{paraMap.posId}
			</if>
			<if test="paraMap.depId!=null">
				e.dep_id = #{paraMap.depId}
			</if>
			<if test="paraMap.minSalary!=null">
				e.EMP_Salary>=${paraMap.minSalary}
			</if>
			<if test="paraMap.maxSalary!=null">

			</if>
		</where>

	</select>


	<!-- 查询当前用户员工信息 -->
	<select id="getCurrentEmployee" resultMap="employeeMap"
		parameterType="java.lang.Integer">
		select * from TB_Emplyee where user_id = #{id}
	</select>

	<!-- 查询总记录数 -->
	<select id="getEmployeeCount" resultType="java.lang.Integer"
		parameterType="com.ssm.OaManager.utils.PageBean">
		select count(emp_id) from TB_Emplyee
		<where>
			<if test="paraMap.empNumber!=null">
				e.EMP_Number like #{paraMap.empNumber},
			</if>
			<if test="paraMap.empName!=null">
				e.EMP_Name like #{paraMap.empName},
			</if>
			<if test="paraMap.userName!=null">
				u.user_name like #{paraMap.userName},
			</if>
			<if test="paraMap.empSex!=null">
				e.emp_sex = #{paraMap.empSex},
			</if>
			<if test="paraMap.posId!=null">
				e.pos_id = #{paraMap.posId}
			</if>
			<if test="paraMap.depId!=null">
				e.dep_id = #{paraMap.depId}
			</if>
			<if test="paraMap.minSalary!=null">
				e.EMP_Salary>=${paraMap.minSalary}
			</if>
			<if test="paraMap.maxSalary!=null">

                         <![CDATA[e.EMP_Salary<=${paraMap.maxSalary}]]>
			</if>
		</where>
	</select>


	<update id="update" parameterType="com.ssm.OaManager.entity.hrm.Employee">
		update TB_Emplyee
		<set>
			<trim suffixOverrides=",">
				<if test="empNumber!=null">
					EMP_Number=#{empNumber},
				</if>
				<if test="empName!=null">
					EMP_Name=#{empName},
				</if>
				<if test="empSex!=null">
					EMP_Sex=#{empSex},
				</if>
				<if test="empAge!=null">
					EMP_Age=#{empAge},
				</if>
				<if test="empBrithday!=null">
					EMP_Brithday=#{empBrithday},
				</if>
				<if test="empSalary!=null">
					EMP_Salary=#{empSalary},
				</if>
				<if test="empTelephone!=null">
					EMP_Telephone=#{empTelephone},
				</if>
				<if test="empAddress!=null">
					EMP_Address=#{empAddress},
				</if>
				<if test="empEntryDate!=null">
					emp_EntryDate=#{empEntryDate},
				</if>
				<if test="MaritalStatus!=null">
					marutakstatus=#{MaritalStatus},
				</if>
				<if test="empPhotoUrl!=null">
					EMP_PhotoUrl=#{empPhotoUrl},
				</if>
				<if test="user!=null and user.userId!=null">
					user_id=#{user.userId},
				</if>
				<if test="pos!=null and pos.posId!=null">
					pos_id=#{pos.posId},
				</if>
				<if test="dep!=null and dep.deptId!=null">
					dep_id=#{dep.deptId},
				</if>
			</trim>
		</set>
		where emp_id = #{empId}
	</update>

	<insert id="insert" parameterType="com.ssm.OaManager.entity.hrm.Employee">
		insert into TB_Emplyee(
		<include refid="key"></include>
		)
		values(
		<include refid="value"></include>
		)
	</insert>




	<delete id="deleteEmployeeByIds" parameterType="java.util.Map">
		DELETE FROM TB_Emplyee where id in
		<foreach collection="map" index="index" item="item" open="("
			separator="," close=")">
			#{item.id}
		</foreach>
	</delete>

	<delete id="deleteById" parameterType="java.lang.Integer">
		DELETE FROM TB_Emplyee where emp_id = #{empId}
	</delete>


	<!-- /*EMP_ID Int 否 主键,自增 主键，无意义 EMP_Number varchar(5) 否 唯一 员工工号 EMP_Name 
		varchar(30) 否 员工姓名 USER_ID int 否 外键 用户ID EMP_Sex char(1) 否 ‘男’或‘女’ 检查 性别 
		EMP_Brithday Datetime 否 出生年月 POS_ID Int 否 外键 职位ID DEP_ID Int 否 外键 部门ID EMP_Salary 
		Money 否 工资 EMP_Telephone varchar(20) 是 电话 EMP_Address varchar(50) 是 地址 EMP_EntryDate 
		Datetime 否 NOW() 入职时间 MaritalStatus Int 否 0或1 0表示未婚1表示已婚 婚姻状况 EMP_PhotoUrl 
		varchar(MAX) 否 照片地址*/ private Integer empId; private String empNumber; private 
		String empName; private String empSex; private Integer empAge; private Date 
		empBrithday; private Double empSalary; private String empTelephone; private 
		String empAddress; private Date empEntryDate; private Integer MaritalStatus; 
		private String empPhotoUrl; private User user; -->
	<!-- 列名 -->
	<sql id="key">
		<trim suffixOverrides=",">
			<if test="empNumber!=null">
				EMP_Number,
			</if>
			<if test="empName!=null">
				EMP_Name,
			</if>
			<if test="empSex!=null">
				EMP_Sex,
			</if>
			<if test="empAge!=null">
				EMP_Age,
			</if>
			<if test="empBrithday!=null">
				EMP_Brithday,
			</if>
			<if test="empSalary!=null">
				EMP_Salary,
			</if>
			<if test="empTelephone!=null">
				EMP_Telephone,
			</if>
			<if test="empAddress!=null">
				EMP_Address,
			</if>
			<if test="empEntryDate!=null">
				emp_EntryDate,
			</if>
			<if test="MaritalStatus!=null">
				MaritalStatus,
			</if>
			<if test="empPhotoUrl!=null">
				EMP_PhotoUrl,
			</if>
			<if test="user!=null and user.userId!=null">
				user_id,
			</if>
			<if test="pos!=null and pos.posId!=null">
				pos_id,
			</if>
			<if test="dep!=null and dep.deptId!=null">
				dep_id,
			</if>
		</trim>
	</sql>
	<!-- 列值 -->
	<sql id="value">
		<trim suffixOverrides=",">
			<if test="empNumber!=null">
				#{empNumber},
			</if>
			<if test="empName!=null">
				#{empName},
			</if>
			<if test="empSex!=null">
				#{empSex},
			</if>
			<if test="empAge!=null">
				#{empAge},
			</if>
			<if test="empBrithday!=null">
				#{empBrithday},
			</if>
			<if test="empSalary!=null">
				#{empSalary},
			</if>
			<if test="empTelephone!=null">
				#{empTelephone},
			</if>
			<if test="empAddress!=null">
				#{empAddress},
			</if>
			<if test="empEntryDate!=null">
				#{empEntryDate},
			</if>
			<if test="MaritalStatus!=null">
				#{MaritalStatus},
			</if>
			<if test="empPhotoUrl!=null">
				#{empPhotoUrl},
			</if>
			<if test="user!=null and user.userId!=null">
				#{user.userId},
			</if>
			<if test="pos!=null and pos.posId!=null">
				#{pos.posId},
			</if>
			<if test="dep!=null and dep.deptId!=null">
				#{dep.deptId},
			</if>
		</trim>
	</sql>

	<update id="updateEmployeeById" parameterType="com.ssm.OaManager.entity.hrm.Employee">
		update TB_Emplyee
		<set>
			<trim suffixOverrides=",">
				<if test="empNumber!=null">
					EMP_Number=#{empNumber},
				</if>
				<if test="empName!=null">
					EMP_Name=#{empName},
				</if>
				<if test="empSex!=null">
					EMP_Sex=#{empSex},
				</if>
				<if test="empAge!=null">
					EMP_Age=#{empAge},
				</if>
				<if test="empBrithday!=null">
					EMP_Brithday=#{empBrithday},
				</if>
				<if test="empSalary!=null">
					EMP_Salary=#{empSalary},
				</if>
				<if test="empTelephone!=null">
					EMP_Telephone=#{empTelephone},
				</if>
				<if test="empAddress!=null">
					EMP_Address=#{empAddress},
				</if>
				<if test="empEntryDate!=null">
					empEntryDate=#{empEntryDate},
				</if>
				<if test="MaritalStatus!=null">
					MaritalStatus=#{MaritalStatus},
				</if>
				<if test="empPhotoUrl!=null">
					EMP_PhotoUrl=#{empPhotoUrl},
				</if>
				<if test="user!=null and user.userId!=null">
					user_id=#{user.userId},
				</if>
				<if test="pos!=null and pos.posId!=null">
					pos_id=#{pos.posId},
				</if>
				<if test="dep!=null and dep.deptId!=null">
					dep_id=#{dep.deptId},
				</if>
			</trim>
		</set>
		where emp_id = #{empId}
	</update>

	<insert id="insertEmployee" parameterType="com.ssm.OaManager.entity.hrm.Employee">
		insert into TB_Emplyee(
		<include refid="key"></include>
		)
		values(
		<include refid="value"></include>
		)
	</insert>

	<!-- 根据用户id修改信息 -->
	<update id="updateByUserId" parameterType="com.ssm.OaManager.entity.hrm.Employee">
		update TB_Emplyee
		<set>
			<trim suffixOverrides=",">
				<if test="empTelephone!=null">
					EMP_Telephone=#{empTelephone},
				</if>
				<if test="empPhotoUrl!=null">
					EMP_PhotoUrl=#{empPhotoUrl},
				</if>
				<if test="empAddress!=null">
					EMP_Address=#{empAddress},
				</if>
				<if test="user!=null and user.userId!=null">
					user_id=#{user.userId},
				</if>
			</trim>
		</set>
		where user_id = #{user.userId}
	</update>


	<!-- 通过职位查询员工 -->
	<select id="findAllByPos" parameterType="com.ssm.OaManager.entity.hrm.Position"
		resultMap="employeeMap">
		SELECT * FROM tb_emplyee e
		left join tb_department t on t.dept_id = e.dept_id 
		left join tb_position p on e.pos_id = p.pos_id 
		join tb_user u on e.user_id = u.user_id and u.state = 1
		<where>
			<if test="posId!=null">
				e.pos_id = #{posId}
			</if>
		</where>
	</select>

	<!-- 根据员工姓名查询员工信息 -->
	<select id="getEmployeeIdByEmpName" resultMap="employeeMap"
		parameterType="com.ssm.OaManager.entity.hrm.Employee">
		select emp_id from
		TB_Emplyee where emp_name=#{empName}
	</select>

</mapper>