<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssm.OaManager.entity.hrm.Leave">
	  <resultMap type="com.ssm.OaManager.entity.hrm.Leave" id="leaveMap">
		    <id property="leaId" column="le_id"/>
		    <result property="leaDate" column="date_le"/> 
		    <result property="leaTime" column="time_le"/> 
		    <result property="leaCause" column="cuse_le"/> 
		    <association property="emp" resultMap="com.ssm.OaManager.entity.hrm.Employee.employeeMap"></association>
	  </resultMap>
	  
	   <select id="findAll" resultMap="leaveMap">
         select * from tb_leave le left join tb_emplyee em
                               on le.emp_id = em.emp_id
    </select>
    
    <select id="findById" parameterType="java.lang.Integer" resultMap="leaveMap">
         select * from tb_leave le left join tb_emplyee em
                               on le.emp_id = em.emp_id where le.le_id=#{id}
    </select>
    
    <delete id="deleteById" parameterType="java.lang.Integer">
         delete from tb_leave where le_id = #{id}
    </delete>
    
    <update id="update" parameterType="com.ssm.OaManager.entity.hrm.Leave">
         update tb_leave
                   <set>
                        <trim suffixOverrides=",">
	                        <if test="leaDate!=null">
								date_le=#{leaDate},
							</if>
							<if test="leaTime!=null">
								time_le=#{leaTime},
							</if>
							<if test="leaCause!=null">
								cuse_le=#{leaCause},
							</if>
							<if test="emp!=null and emp.empId!=null">
								emp_id=#{emp.empId},
							</if>
						</trim>
                   </set>
                   where le_id = #{leaId}
    </update>
    
    <sql id="key">
		<trim suffixOverrides=",">
			<if test="leaDate!=null">
				date_le,
			</if>
			<if test="leaTime!=null">
			    time_le,
			</if>
			<if test="leaCause!=null">
			    cuse_le,
			</if>
			<if test="emp!=null and emp.empId!=null">
				emp_id,
			</if>
		</trim>
	</sql>
	
	 <sql id="value">
		<trim suffixOverrides=",">
			<if test="leaDate!=null">
				#{leaDate},
			</if>
			<if test="leaTime!=null">
			    #{leaTime},
			</if>
			<if test="leaCause!=null">
			    #{leaCause},
			</if>
			<if test="emp!=null and emp.empId!=null">
				#{emp.empId},
			</if>
		</trim>
	</sql>
    
    <insert id="insert" parameterType="com.ssm.OaManager.entity.hrm.Leave">
         insert into tb_leave(<include refid="key"></include>)
                         values(<include refid="value"></include>)
    </insert>

</mapper>