<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper  namespace="com.ssm.OaManager.entity.fixedAsset.Asset"> 

			<resultMap type="com.ssm.OaManager.entity.fixedAsset.Asset" id="assetMap">
					<id property="assetNo"  column="asset_no"/>
					<result  property="assetName"  column="asset_name"/>
					<result  property="assetMoney"  column="asset_money"/>
					<result  property="depreciationYear"  column="depreciation_year"/>
					<result property="incompleteRate"  column="incomplete_rate"/>
					<result property="assetDescripti"  column="asset_descripti"/>
					<result  property="monthDepreciation"  column="moth_depreciation"/>
					<result  property="assetNature"  column="asset_nature"/>
					<result  property="assetDate"  column="asset_date"/>
					<result property="usingDate"  column="using_date"/>
					<association property="department"  resultMap="com.ssm.OaManager.entity.hrm.Department.DeptInfoMap"></association>
					<association property="assetType"  resultMap="com.ssm.OaManager.entity.fixedAsset.AssetType.assetTypeMap"></association>
					<association property="user"  resultMap="com.ssm.OaManager.entity.User.userMap"></association>
					<association property="fortifyType"  resultMap="com.ssm.OaManager.entity.fixedAsset.FortifyType.fortifyTypeMap"></association>
			</resultMap>
			
						<sql id="key">
						    <!-- 去掉最后一个, -->
						    <trim suffixOverrides=",">
						        <if test="assetNo!=null">
						            asset_no,
						        </if>
						        <if test="assetName!=null">
						            asset_name,
						        </if>
						        <if test="assetMoney!=null">
						            asset_money,
						        </if>
						        <if test="depreciationYear!=null">
						            depreciation_year,
						        </if>
						        <if test="incompleteRate!=null">
						            incomplete_rate,
						        </if>
						        <if test="assetDescripti!=null">
						            asset_descripti,
						        </if>
						        <if test="monthDepreciation!=null">
						            moth_depreciation,
						        </if>
						        <if test="assetNature!=null">
						            asset_nature,
						        </if>
						        <if test="assetDate!=null">
						            asset_date,
						        </if>
						        <if test="usingDate!=null">
						            using_date,
						        </if>
						        <if test="department!=null and department.deptId!=null">
						            dept_id,
						        </if>
						        <if test="assetType!=null and assetType.assetTypeId!=null">
						            assettype_id,
						        </if>
						        <if test="user!=null and user.userId!=null">
						            user_id,
						        </if>
						        <if test="fortifyType!=null and fortifyType.fortifyTypeId!=null">
						            fortifytype_id,
						        </if>
						    </trim>
					 </sql>
					 
					 <sql id="value">
						    <!-- 去掉最后一个, -->
						    <trim suffixOverrides=",">
						       <if test="assetNo!=null">
						            #{assetNo},
						        </if>
						        <if test="assetName!=null">
						           #{assetName},
						        </if>
						        <if test="assetMoney!=null">
						          #{assetMoney},
						        </if>
						        <if test="depreciationYear!=null">
						            #{depreciationYear},
						        </if>
						        <if test="incompleteRate!=null">
						            #{incompleteRate},
						        </if>
						        <if test="assetDescripti!=null">
						            #{assetDescripti},
						        </if>
						        <if test="monthDepreciation!=null">
						            #{monthDepreciation},
						        </if>
						        <if test="assetNature!=null">
						            #{assetNature},
						        </if>
						        <if test="assetDate!=null">
						            #{assetDate},
						        </if>
						        <if test="usingDate!=null">
						            #{usingDate},
						        </if>
						       <if test="department!=null and department.deptId!=null">
						            #{department.deptId},
						        </if>
						        <if test="assetType!=null and assetType.assetTypeId!=null">
						            #{assetType.assetTypeId},
						        </if>
						        <if test="user!=null and user.userId!=null">
						            #{user.userId},
						        </if>
						        <if test="fortifyType!=null and fortifyType.fortifyTypeId!=null">
						            #{fortifyType.fortifyTypeId},
						        </if>
						    </trim>
				  </sql>
			<!-- 添加数据 -->
			<insert id="insert"  parameterType="com.ssm.OaManager.entity.fixedAsset.Asset">
			 		insert into tb_asset(<include refid="key"/>) values(<include refid="value"/>)
			</insert>
			
			<!-- 修改数据 -->
			<update id="update"   parameterType="com.ssm.OaManager.entity.fixedAsset.Asset">
					update tb_asset  
						<set>
						        <if test="assetName!=null">
						            asset_name=#{assetName},
						        </if>
						        <if test="assetMoney!=null">
						            asset_money=#{assetMoney},
						        </if>
						        <if test="depreciationYear!=null">
						            depreciation_year=#{depreciationYear},
						        </if>
						        <if test="incompleteRate!=null">
						            incomplete_rate=#{incompleteRate},
						        </if>
						        <if test="assetDescripti!=null">
						            asset_descripti=#{assetDescripti},
						        </if>
						        <if test="monthDepreciation!=null">
						            moth_depreciation=#{monthDepreciation},
						        </if>
						        <if test="assetNature!=null">
						            asset_nature=#{assetNature},
						        </if>
						        <if test="assetDate!=null">
						            asset_date=#{assetDate},
						        </if>
						        <if test="usingDate!=null">
						            using_date=#{usingDate},
						        </if>
						        <if test="department!=null and department.deptId!=null">
						            dept_id=#{department.deptId},
						        </if>
						        <if test="assetType!=null and assetType.assetTypeId!=null">
						            assettype_id=#{assetType.assetTypeId},
						        </if>
						        <if test="user!=null and user.userId!=null">
						            user_id=#{user.userId},
						        </if>
						        <if test="fortifyType!=null and fortifyType.fortifyTypeId!=null">
						            fortifytype_id=#{fortifyType.fortifyTypeId},
						        </if>
    					</set>
    				where asset_no = #{assetNo}
			</update>
			
			<!-- 删除一条数据 -->
			<delete id="deleteById"  parameterType="java.io.Serializable">
								delete from  tb_asset where asset_no = #{assetNo}
			</delete>
			
			<!-- 批量删除 -->
			<delete id="delete"  parameterType="java.util.Map">
					delete from  tb_asset where asset_no in
								 <!-- foreach用于迭代数组元素
							         open表示开始符号
							         close表示结束符合
							         separator表示元素间的分隔符
							         item表示迭代的数组，属性值可以任意，但提倡与方法的数组名相同
							         #{ids}表示数组中的每个元素值
							     -->
				    <foreach collection="ids" open="(" close=")" separator="," item="id">
				        		#{id}
				    </foreach>
			</delete>
			
			<!--通过id查询一条数据 -->
			<select id="findById"  parameterType="java.io.Serializable"  resultMap="assetMap">
				select * from tb_asset a 
					left join tb_department d on
					 a.dept_id = d.dept_id left join tb_user u on
					 u.user_id = a.user_id left join tb_assettype tt on 
					tt.assettype_id = a.assettype_id left join tb_fortifytype f 
					on f.fortifytype_id = a.fortifytype_id left join tb_emplyee e on u.emp_id = e.emp_id
					where asset_no = #{assetNo}
			</select>

			<!-- 查询全部数据 -->
			<select id="findAll"  resultMap="assetMap" >
			  	select * from tb_asset a 
					left join tb_department d on
					 a.dept_id = d.dept_id left join tb_user u on
					 u.user_id = a.user_id left join tb_assettype tt on 
					tt.assettype_id = a.assettype_id left join tb_fortifytype f 
					on f.fortifytype_id = a.fortifytype_id left join tb_emplyee e on u.emp_id = e.emp_id
			</select>
			
			<!-- 分页查询数据 -->
			<select id="findByPage"   parameterType="com.ssm.OaManager.utils.PageBean"  resultMap="assetMap" >
					select * from tb_asset a 
					left join tb_department d on
					 a.dept_id = d.dept_id left join tb_user u on
					 u.user_id = a.user_id left join tb_assettype tt on 
					tt.assettype_id = a.assettype_id left join tb_fortifytype f 
					on f.fortifytype_id = a.fortifytype_id  left join tb_emplyee e on u.emp_id = e.emp_id
					where 1=1 
					<if test="paraMap.userId!=null">
							and a.user_id=#{paraMap.userId}
					</if>
					 limit  #{firstPage} ,#{pageSize}
			</select>
			
			<!-- 查询记录数 -->
			<select id="findCount"  parameterType="com.ssm.OaManager.utils.PageBean"  resultType="int">
					select 
			            count(*)
			         from tb_asset  u
			</select>
</mapper>