<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ssm.OaManager.entity.stationery.Giveback" >
  <resultMap id="GivebackMap" type="com.ssm.OaManager.entity.stationery.Giveback" >
    <id column="GIVEBACK_ID" property="givebackId" jdbcType="INTEGER" />
    <result column="GIVEBACK_STATUS" property="givebackStatus" jdbcType="INTEGER" />
    <result column="GIVEBACK_descripti" property="givebackDescripti" jdbcType="VARCHAR" />
    <result column="giveback_amount" property="givebackAmount" jdbcType="VARCHAR" />
    
    <association property="stationery"
	  resultMap="com.ssm.OaManager.entity.stationery.Stationery.StationeryMap"></association>
    <association property="user"
	  resultMap="com.ssm.OaManager.entity.User.userMap"></association>
  </resultMap>
  
  
	<!-- 列名 -->
	 <sql id="key">
	     <!-- 去掉最后一个, -->
	     <trim suffixOverrides=",">
	         <if test="user.userId!=null">
	             user_id,
	         </if>
	         <if test="stationery.stationeryId!=null">
	             stationery_id,
	         </if>
	         <if test="givebackStatus!=null">
	              giveback_status,
	         </if>
	         <if test="givebackDescripti!=null">
	              borrow_descripti,
	         </if>
	         <if test="oparateUser.userId!=null">
	              oparate_user,
	         </if>
	         <if test="givebackAmount!=null">
	             giveback_amount,
	         </if>
	     </trim>
	 </sql>
	 
	 <!-- 列值 -->
	 <sql id="value">
	    <!-- 去掉最后一个, -->
	    <trim suffixOverrides=",">
	        <if test="user.userId!=null">
	             #{user.userId,jdbcType=INTEGER},
	         </if>
	         <if test="stationery.stationeryId!=null">
	             #{stationery.stationeryId,jdbcType=INTEGER},
	         </if>
	        <if test="givebackStatus!=null">
	              #{givebackStatus},
	         </if>
	         <if test="givebackDescripti!=null">
	              #{givebackDescripti},
	         </if>
	         <if test="oparateUser.userId!=null">
	              #{oparateUser.userId},
	         </if>
	          <if test="givebackAmount!=null">
	             #{givebackAmount},
	         </if>
	    </trim>
	 </sql>
  
  <!-- 添加 -->
  <insert id="insert" parameterType="com.ssm.OaManager.entity.stationery.Giveback">
       insert into tb_giveback (<include refid="key"/>)values(<include refid="value"/>)
  </insert>
  
  <!-- 根据ID删除 -->
  <delete id="deleteById" parameterType="java.io.Serializable">
       delete from tb_giveback where GIVEBACK_ID = #{givebackId}
  </delete>
  <!-- 修改 -->
  <update id="update" parameterType="com.ssm.OaManager.entity.stationery.Giveback">
      update tb_giveback
      <set>
         	<if test="user.userId!=null">
	             user_id=#{user.userId,jdbcType=INTEGER},
	         </if>
	         <if test="stationery.stationeryId!=null">
	             stationery_id=#{stationery.stationeryId,jdbcType=INTEGER},
	         </if>
	         <if test="givebackStatus!=null">
	              giveback_status=#{givebackStatus},
	         </if>
	         <if test="givebackDescripti!=null">
	              borrow_descripti=#{givebackDescripti},
	         </if> 
	         <if test="givebackAmount!=null">
	             giveback_amount=#{givebackAmount},
	         </if>
      </set>
      where GIVEBACK_ID = #{givebackId}
  </update>
  <!-- 查询所有员工 -->
  <select id="findAll" resultMap="GivebackMap">
       select * from tb_giveback  g 
      left join tb_user u on g.user_id = u.user_id 
      left join tb_stationery s on s.stationery_id = g.stationery_id
  </select>
  
<!--通过id查询一条数据 -->
	<select id="findById" parameterType="java.io.Serializable"
		resultMap="GivebackMap">
		   select * from tb_giveback  g 
		      left join tb_user u on g.user_id = u.user_id 
		      left join tb_stationery s on s.stationery_id = g.stationery_id
		where
		g.GIVEBACK_ID = #{givebackId}
	</select>
	
		<!-- 分页查询数据 -->
	<select id="findByPage" parameterType="com.ssm.OaManager.utils.PageBean"
		resultMap="GivebackMap">
			select * from tb_giveback  g 
		      left join tb_user u on g.user_id = u.user_id 
		      left join tb_stationery s on s.stationery_id = g.stationery_id
		where 1=1
		limit 0 ,10
	</select>
	
	<!-- 查询记录数 -->
	<select id="findCount" parameterType="com.ssm.OaManager.utils.PageBean"
		resultType="int">
		select
		count(*)
		from tb_giveback
	</select>
  
  
</mapper>