<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ssm.OaManager.entity.stationery.Receive" >
  <resultMap id="ReceiveMap" type="com.ssm.OaManager.entity.stationery.Receive" >
    <id column="RECEIVE_ID" property="receiveId" jdbcType="INTEGER" />
    <result column="RECEIVE_STATUS" property="receiveStatus" jdbcType="INTEGER" />
    <result column="RECEIVE_AMOUNT" property="receiveAmount" jdbcType="INTEGER" />
    <result column="RECEIVE_descripti" property="receiveDescripti" jdbcType="VARCHAR" />
    
    <association property="stationery"
	  resultMap="com.ssm.OaManager.entity.stationery.Stationery.StationeryMap"></association>
    <association property="user"
	  resultMap="com.ssm.OaManager.entity.User.userMap"></association>
  </resultMap>

	<!-- 列名 -->
	 <sql id="key">
	     <!-- 去掉最后一个, -->
	     <trim suffixOverrides=",">
	         <if test="user.userId!=null">
	             user_id,
	         </if>
	         <if test="stationery.stationeryId!=null">
	             stationery_id,
	         </if>
	         
	         <if test="receiveStatus!=null">
	              RECEIVE_STATUS,
	         </if>
	         <if test="receiveAmount!=null">
	              RECEIVE_AMOUNT,
	         </if>
	         <if test="receiveDescripti!=null">
	              RECEIVE_descripti,
	         </if>
	         <if test="oparateUser.userId!=null">
	              oparate_user,
	         </if>
	     </trim>
	 </sql>
	 
	 <!-- 列值 -->
	 <sql id="value">
	    <!-- 去掉最后一个, -->
	    <trim suffixOverrides=",">
	        <if test="user.userId!=null">
	             #{user.userId,jdbcType=INTEGER},
	         </if>
	         <if test="stationery.stationeryId!=null">
	             #{stationery.stationeryId,jdbcType=INTEGER},
	         </if>
	         
	     	  <if test="receiveStatus!=null">
	              #{receiveStatus},
	         </if>
	         <if test="receiveAmount!=null">
	              #{receiveAmount},
	         </if>
	         <if test="receiveDescripti!=null">
	              #{receiveDescripti},
	         </if>
	         <if test="oparateUser.userId!=null">
	              #{oparateUser.userId},
	         </if>
	    </trim>
	 </sql>
  
  <!-- 添加 -->
  <insert id="insert" parameterType="com.ssm.OaManager.entity.stationery.Receive">
       insert into tb_receive (<include refid="key"/>)values(<include refid="value"/>)
  </insert>
  
  <!-- 根据ID删除 -->
  <delete id="deleteById" parameterType="java.io.Serializable">
       delete from tb_receive where RECEIVE_ID = #{receiveId}
  </delete>
  <!-- 修改 -->
  <update id="update" parameterType="com.ssm.OaManager.entity.stationery.Receive">
      update tb_receive
      <set>
         	<if test="user.userId!=null">
	             user_id= #{user.userId,jdbcType=INTEGER},
	         </if>
	         <if test="stationery.stationeryId!=null">
	             stationery_id=#{stationery.stationeryId,jdbcType=INTEGER},
	         </if>
	         
	          <if test="receiveStatus!=null">
	              RECEIVE_STATUS=#{receiveStatus},
	         </if>
	         <if test="receiveAmount!=null">
	              RECEIVE_AMOUNT=#{receiveAmount},
	         </if>
	         <if test="receiveDescripti!=null">
	              RECEIVE_descripti=#{receiveDescripti},
	         </if>
      </set>
      where RECEIVE_ID = #{receiveId}
  </update>
  <!-- 查询所有员工 -->
  <select id="findAll" resultMap="ReceiveMap">
       select * from tb_receive  g 
      left join tb_user u on g.user_id = u.user_id 
      left join tb_stationery s on s.stationery_id = g.stationery_id
  </select>
  
<!--通过id查询一条数据 -->
	<select id="findById" parameterType="java.io.Serializable"
		resultMap="ReceiveMap">
		   select * from tb_receive  g 
		      left join tb_user u on g.user_id = u.user_id 
		      left join tb_stationery s on s.stationery_id = g.stationery_id
		where
		g.RECEIVE_ID = #{receiveId}
	</select>
	
		<!-- 分页查询数据 -->
	<select id="findByPage" parameterType="com.ssm.OaManager.utils.PageBean"
		resultMap="ReceiveMap">
			select * from tb_receive  g 
		      left join tb_user u on g.user_id = u.user_id 
		      left join tb_stationery s on s.stationery_id = g.stationery_id
		where 1=1
		limit 0 ,10
	</select>
	
	<!-- 查询记录数 -->
	<select id="findCount" parameterType="com.ssm.OaManager.utils.PageBean"
		resultType="int">
		select
		count(*)
		from tb_receive
	</select>  
</mapper>