<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssm.OaManager.entity.hrm.Evection">
    <resultMap type="com.ssm.OaManager.entity.hrm.Evection" id="evectionMap">
        <id property="evId" column="ev_id"/>
        <result property="date" column="date_ev"/>
        <result property="time" column="time_ev"/>
        <result property="cause" column="cuse_ev"/>
        <result property="cost" column="cost_ev"/>
        <association property="emp" resultMap="com.ssm.OaManager.entity.hrm.Employee.employeeMap"></association>
    </resultMap>
    
    
    <select id="findAll" resultMap="evectionMap">
         select * from tb_evection ev left join tb_emplyee em
                               on ev.emp_id = em.emp_id
    </select>
    
    <select id="findById" parameterType="java.lang.Integer" resultMap="evectionMap">
         select * from tb_evection ev left join tb_emplyee em
                               on ev.emp_id = em.emp_id where ev_id=#{id}
    </select>
    
    <delete id="deleteById" parameterType="java.lang.Integer">
         delete from tb_evection where ev_id = #{id}
    </delete>
    
    <update id="update" parameterType="com.ssm.OaManager.entity.hrm.Evection">
         update tb_evection 
                   <set>
                        <trim suffixOverrides=",">
	                        <if test="date!=null">
								date_ev=#{date},
							</if>
							<if test="time!=null">
								time_ev=#{time},
							</if>
							<if test="cause!=null">
								cuse_ev=#{cause},
							</if>
							<if test="cost!=null">
								cost_ev=#{cost},
							</if>
							<if test="emp!=null and emp.empId!=null">
								emp_id=#{emp.empId},
							</if>
						</trim>
                   </set>
                   where ev_id = #{evId}
    </update>
    
    <sql id="key">
		<trim suffixOverrides=",">
			<if test="date!=null">
				date_ev,
			</if>
			
			<if test="time!=null">
				time_ev,
			</if>
			<if test="cause!=null">
				cuse_ev,
			</if>
			<if test="cost!=null">
				cost_ev,
			</if>
			<if test="emp!=null and emp.empId!=null">
				emp_id,
			</if>
		</trim>
	</sql>
	
	 <sql id="value">
		<trim suffixOverrides=",">
			<if test="date!=null">
				#{date},
			</if>
			<if test="time!=null">
				#{time},
			</if>
			<if test="cause!=null">
				#{cause},
			</if>
			<if test="cost!=null">
				#{cost},
			</if>
			<if test="emp!=null and emp.empId!=null">
				#{emp.empId},
			</if>
		</trim>
	</sql>
    
    <insert id="insert" parameterType="com.ssm.OaManager.entity.hrm.Evection">
         insert into tb_evection(<include refid="key"></include>)
                         values(<include refid="value"></include>)
    </insert>
 
</mapper>

