<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper  namespace="com.ssm.OaManager.entity.hrm.Position"> 
<resultMap type="com.ssm.OaManager.entity.hrm.Position" id="positionMap">
					<id property="posId"  column="pos_Id"/>
					<result  property="posName"  column="pos_Name"/>
					<result  property="posDescriti"  column="pos_Descripti"/>
			</resultMap>
			
						<!-- <sql id="key">
						    去掉最后一个,
						    <trim suffixOverrides=",">
						        <if test="maintainDate!=null">
						            maintain_date,
						        </if>
						        <if test="maintainDescripti!=null">
						            maintain_descripti,
						        </if>
						        <if test="asset.assetNo!=null">
						            asset_no,
						        </if>
						        <if test="user.userId!=null">
						            user_id,
						        </if>
						        <if test="maintainType.maintainTypeId!=null">
						            maintaintype_id,
						        </if>
						    </trim>
					 </sql> -->
					 
					<!--  <sql id="value">
						    去掉最后一个,
						    <trim suffixOverrides=",">
						       <if test="maintainDate!=null">
						            #{maintainDate},
						        </if>
						        <if test="maintainDescripti!=null">
						            #{maintainDescripti},
						        </if>
						        <if test="asset.assetNo!=null">
						            #{asset.assetNo},
						        </if>
						        <if test="user.userId!=null">
						            #{user.userId},
						        </if>
						        <if test="maintainType.maintainTypeId!=null">
						            #{maintainType.maintainTypeId},
						        </if>
						    </trim>
				  </sql> -->
			<!-- 添加数据 -->
			<insert id="insert"  parameterType="com.ssm.OaManager.entity.hrm.Position" >
			 		insert into tb_position(pos_Name,pos_Descripti) values(#{posName} ,#{posDescriti})
			</insert> 
			
			<!-- 修改数据 -->
			<update id="update"   parameterType="com.ssm.OaManager.entity.hrm.Position">
					update tb_position 
						<set>
						        <if test="posName!=null">
						            pos_Name=#{posName},
						        </if>
						        <if test="posDescriti!=null">
						            pos_Descripti=#{posDescriti},
						        </if>
    					</set>
    				where pos_Id = #{posId}
			</update>
			
		   <!-- 删除一条数据 -->
			<delete id="deleteById"  parameterType="int">
								delete from  tb_position where pos_Id = #{posId}
			</delete>
			
			<!--通过id查询一条数据 -->
			<select id="findById"  parameterType="int"  resultMap="positionMap">
			select * from tb_position where pos_Id=#{posId}
			</select>

			<!-- 查询全部数据 -->
			<select id="findAll"  resultMap="positionMap" >
			  	select * from tb_position
			</select>
			
			<!-- 分页查询数据 -->
			<select id="findByPage"   parameterType="com.ssm.OaManager.entity.hrm.Position"  resultMap="positionMap" >
					select * from tb_position limit #{firstPage} ,#{pageSize}
			</select>
			
			<!-- 查询记录数 -->
			<select id="findCount"  parameterType="com.ssm.OaManager.entity.hrm.Position"  resultType="int">
					select 
			            count(*)
			         from tb_position  p
			</select>
			
			<!--  --> 
</mapper>
