<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssm.OaManager.entity.official.Approve">

	<!-- 实体映射关系 -->
	<resultMap type="com.ssm.OaManager.entity.official.Approve"
		id="ApproveMap">
		<id column="approve_id" property="approveId"></id>
		<result column="approve_idea" property="approveIdea" />
		<result column="approve_date" property="approveDate" />
		<result column="agreeOrNot" property="agreeOrNot" />

		<association property="official"
			resultMap="com.ssm.OaManager.entity.official.Official.OfficialMap"></association>
		<association property="user"
			resultMap="com.ssm.OaManager.entity.User.userMap"></association>

	</resultMap>

	<!-- 表 -->
	<sql id="table">
		tb_approve
	</sql>

	<!-- 添加 -->

	<!-- 添加 -->
	<sql id="key">
		<!-- 去掉最后一个, -->
		<trim suffixOverrides=",">
			<if test="approveIdea!=null">
				approve_idea,
			</if>
			<if test="approveDate!=null">
				approve_date,
			</if>
			<if test="agreeOrNot!=null">
				agreeOrNot,
			</if>
			<if test="user.userId!=null">
				user_id,
			</if>
			<if test="official.offiId!=null">
				offi_id,
			</if>
		</trim>
	</sql>

	<sql id="value">
		<!-- 去掉最后一个, -->
		<trim suffixOverrides=",">
			<if test="approveIdea!=null">
				#{approveIdea},
			</if>
			<if test="approveDate!=null">
				#{approveDate},
			</if>
			<if test="agreeOrNot!=null">
				#{agreeOrNot},
			</if>
			<if test="user.userId!=null">
				#{user.userId,jdbcType=INTEGER},
			</if>
			<if test="official.offiId!=null">
				#{official.offiId,jdbcType=INTEGER},
			</if>
		</trim>
	</sql>

	<!-- 插入数据并返回主键 -->
	<insert id="insert" parameterType="com.ssm.OaManager.entity.official.Approve">
		INSERT INTO
		<include refid="table" />
		(
		<include refid="key" />
		)
		VALUES
		(
		<include refid="value" />
		)
	</insert>

	<!-- 通过公文查看审批历史 -->
	<select id="findByOffical" parameterType="com.ssm.OaManager.entity.official.Official"
		resultMap="ApproveMap">
		SELECT * FROM TB_APPROVE A INNER JOIN TB_USER U ON A.USER_ID =
		U.USER_ID
		INNER JOIN TB_OFFICIAL O ON A.OFFI_ID = O.OFFI_ID
		INNER JOIN
		TB_EMPLYEE E ON E.EMP_ID = U.EMP_ID
		<where>
			<if test="offiId!=null">
				O.OFFI_ID = #{offiId}
			</if>
		</where>
	</select>


	<!-- 批量删除 -->
	<delete id="deleteBatch" parameterType="List">
		DELETE FROM
		<include refid="table"></include>
		<where>
			approve_id IN
		</where>
		<foreach collection="list" item="item" index="index" open="("
			close=")" separator=",">
			#{item.approveId}
		</foreach>
	</delete>


</mapper>