<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssm.OaManager.entity.official.Official">

	<!-- 实体映射关系 -->
	<resultMap type="com.ssm.OaManager.entity.official.Official"
		id="OfficialMap">
		<id column="offi_id" property="offiId"></id>
		<result column="offi_name" property="offiName" />
		<result column="offi_date" property="offiDate" />
		<result column="offi_state" property="offiState" />
		<result column="accrssory_name" property="accessoryName" />
		<result column="offi_descripti" property="offiDescripti" />
		<result column="accessory" property="accessory"/>

		<association property="flow"
			resultMap="com.ssm.OaManager.entity.workflow.FlowTemplate.flowMap"></association>
		<association property="user"
			resultMap="com.ssm.OaManager.entity.User.userMap"></association>
		
	</resultMap>

	<!-- 表 -->
	<sql id="table">
		tb_official
	</sql>

	<!-- 添加 -->
	<sql id="key">
		<!-- 去掉最后一个, -->
		<trim suffixOverrides=",">
			<if test="offiName!=null">
				offi_name,
			</if>
			<if test="flow.flowId!=null">
				flow_id,
			</if>
			<if test="offiDate!=null">
				offi_date,
			</if>
			<if test="user.userId!=null">
				user_id,
			</if>
			<if test="offiState!=null">
				offi_state,
			</if>
			<if test="accessory!=null">
				accessory,
			</if>
			<if test="accessoryName!=null">
				accrssory_name,
			</if>
			<if test="offiDescripti!=null">
				offi_descripti,
			</if>
		</trim>
	</sql>

	<sql id="value">
		<!-- 去掉最后一个, -->
		<trim suffixOverrides=",">
			<if test="offiName!=null">
				#{offiName},
			</if>
			<if test="flow.flowId!=null">
				#{flow.flowId,jdbcType=INTEGER},
			</if>
			<if test="offiDate!=null">
				#{offiDate},
			</if>
			<if test="user.userId!=null">
				#{user.userId,jdbcType=INTEGER},
			</if>
			<if test="offiState!=null">
				#{offiState},
			</if>
			<if test="accessory!=null">
				#{accessory},
			</if>
			<if test="accessoryName!=null">
				#{accessoryName},
			</if>
			<if test="offiDescripti!=null">
				#{offiDescripti},
			</if>
		</trim>
	</sql>

	<!-- 插入数据并返回主键 -->
	<insert id="insertAndGetId" useGeneratedKeys="true" keyProperty="offiId" parameterType="com.ssm.OaManager.entity.official.Official">
		INSERT INTO
		<include refid="table" />
		(
		<include refid="key" />
		)
		VALUES
		(
		<include refid="value" />
		)
	</insert>

	<!-- 分页查询 -->
	<select id="findByPage" parameterType="com.ssm.OaManager.utils.PageBean" resultMap="OfficialMap">
		select
		o.offi_id,o.offi_name,o.offi_date,o.offi_state,o.accrssory_name,o.offi_descripti,u.*,re.*
		from tb_official o inner join tb_user u on o.user_id = u.user_id  inner join tb_flow_template
		f on f.flow_id = o.flow_id
		<where>
			<if test="paraMap.userId!=null">
				u.user_id = #{paraMap.userId,jdbcType=INTEGER}
			</if>
		</where>
		limit #{firstPage} ,#{pageSize}
	</select>
	
	<!--  -->
	<select id="findAll" resultMap="OfficialMap">
		select
		o.offi_id,o.offi_name,o.offi_date,o.offi_state,o.accrssory_name,o.offi_descripti,u.*,re.*
		from tb_official o inner join tb_user u on o.user_id = u.user_id inner join tb_flow_template
		f on f.flow_id = o.flow_id
	</select>
	
	<!-- 查询记录数 -->
	<select id="findCount" parameterType="com.ssm.OaManager.utils.PageBean" resultType="int">
		select
		count(*)
		from tb_official o
		<where>
			<if test="paraMap.userId!=null">
				o.user_id = #{paraMap.userId,jdbcType=INTEGER}
			</if>
		</where>
	</select>
	
	<update id="update" parameterType="com.ssm.OaManager.entity.official.Official">
		UPDATE <include refid="table"></include>
		<set>
			<if test="offiState!=null">
			 offi_state = #{offiState}
			</if>
		</set>
		<where>
			<if test="offiId!=null">
				offi_id = #{offiId}
			</if>
		</where>
	</update>
	
	<select id="findByStepIntances" parameterType="List" resultMap="OfficialMap">
		SELECT * FROM
		<include refid="table"></include>
		<where>
			OFFI_ID IN
		</where>
		<foreach collection="list" item="item" index="index"
			open="(" close=")" separator=",">
			#{item.official.offiId,jdbcType=INTEGER}
		</foreach>
	</select>
	
	<!-- 根据ID查找 -->
	<select id="findById" parameterType="java.io.Serializable" resultMap="OfficialMap">
		SELECT * FROM 
		<include refid="table"></include>
		<where>	
				offi_id = #{id}
		</where>
	</select>
	
	
	<!-- 根据用户查找 -->
	<select id="findByUser" parameterType="com.ssm.OaManager.entity.User" resultMap="OfficialMap">
		SELECT * FROM 
		<include refid="table"></include>
		<where>	
			<if test="userId!=null">
				user_id = #{userId}
			</if>
		</where>
	</select>
	
	<!-- 删除公文 -->
	<delete id="deleteOfficial" parameterType="com.ssm.OaManager.entity.official.Official">
		delete from 
		<include refid="table"></include>
		<where>
			<if test="offiId!=null">
				offi_id = #{offiId}
			</if>
		</where>
	</delete>
</mapper>