<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper  namespace="com.ssm.OaManager.entity.workflow.FlowInstance"> 

	<!-- 实体映射关系 -->
	<resultMap type="com.ssm.OaManager.entity.workflow.FlowInstance"
		id="FlowInstanceMap">
		<id column="flow_instance_id" property="flowInstanceId"></id>
		<result column="flow_instance_name" property="flowInstanceName" />
		<result column="create_date" property="createDate" />
		<result column="finish_date" property="finishDate" />
		<result column="status" property="status" />

		<association property="flow"
			resultMap="com.ssm.OaManager.entity.workflow.FlowTemplate.flowMap"></association>
		<association property="createUser"
			resultMap="com.ssm.OaManager.entity.User.userMap"></association>
		<association property="official"
		 	javaType="com.ssm.OaManager.entity.official.Official">
			<id column="official_id" property="offiId"></id>
			<result column="offi_name" property="offiName" />
			<result column="offi_date" property="offiDate" />
			<result column="offi_state" property="offiState" />
			<result column="accessory_name" property="accessoryName" />
			<result column="offi_descripti" property="offiDescripti" />	
		</association>
	</resultMap>

	<!-- 表 -->
	<sql id="table">
		tb_flow_instance
	</sql>

	<!-- 添加 -->
	<sql id="key">
		<!-- 去掉最后一个, -->
		<trim suffixOverrides=",">
			<if test="flowInstanceName!=null">
				flow_instance_name,
			</if>
			<if test="createUser.userId!=null">
				create_user_id,
			</if>
			<if test="flow.flowId!=null">
				flow_id,
			</if>
			<if test="official.offiId!=null">
				official_id,
			</if>
			<if test="createDate!=null">
				create_date,
			</if>
			<if test="finishDate!=null">
				finish_date,
			</if>
			<if test="status!=null">
				status,
			</if>
		</trim>
	</sql>

	<sql id="value">
		<!-- 去掉最后一个, -->
		<trim suffixOverrides=",">
			<if test="flowInstanceName!=null">
				#{flowInstanceName},
			</if>
			<if test="createUser.userId!=null">
				#{createUser.userId,jdbcType=INTEGER},
			</if>
			<if test="flow.flowId!=null">
				#{flow.flowId,jdbcType=INTEGER},
			</if>
			<if test="official.offiId!=null">
				#{official.offiId,jdbcType=INTEGER},
			</if>
			<if test="createDate!=null">
				#{createDate},
			</if>
			<if test="finishDate!=null">
				#{finishDate},
			</if>
			<if test="status!=null">
				#{status},
			</if>
		</trim>
	</sql>

	<!-- 插入数据并返回主键 -->
	<insert id="insert" useGeneratedKeys="true" keyProperty="offiId" parameterType="com.ssm.OaManager.entity.official.Official">
		INSERT INTO
		<include refid="table" />
		(
		<include refid="key" />
		)
		VALUES
		(
		<include refid="value" />
		)
	</insert>
	
	<!-- 通过ID查询 -->
	<select id="findById" parameterType="int" resultMap="FlowInstanceMap">
		SELECT * FROM
		<include refid="table"></include>
		<where>
			<if test="flowInstanceId!=null">
				flow_instance_id = #{flowInstanceId}
			</if>
		</where>
	</select>
	
	<!-- 通过ID查询 -->
	<select id="findByOffi" parameterType="com.ssm.OaManager.entity.official.Official" resultMap="FlowInstanceMap">
		SELECT * FROM
		<include refid="table"></include>
		<where>
			<if test="offiId!=null">
				official_id = #{offiId}
			</if>
		</where>
	</select>
	
	<!-- 通过员工查询流程实例 -->
	<select id="findAllByEmp" parameterType="com.ssm.OaManager.entity.hrm.Employee" resultMap="FlowInstanceMap">
		SELECT * FROM
		<include refid="table"></include>
		<where>
			<if test="empId!=null">
				emp_id = #{empId}
			</if>
		</where>
	</select>
	
	<!-- 通过流程实例查找 -->
	<select id="findByFlowInstance" parameterType="com.ssm.OaManager.entity.workflow.FlowInstance" resultMap="FlowInstanceMap">
		SELECT * FROM
		<include refid="table"></include>
		<where>
			<if test="flowInstanceId!=null">
				flow_instance_id = #{flowInstanceId}
			</if>
		</where>
	</select>
	
	<!-- 通过流程查找 -->
	<select id="findByFlow" parameterType="com.ssm.OaManager.entity.workflow.FlowTemplate"
		resultMap="FlowInstanceMap">
		SELECT * FROM
		<include refid="table"></include>	
		<where>
			<if test="flowId!=null">
				flow_id = #{flowId}
			</if>
		</where>
	</select>
	
	<delete id="deleteFlowInstance" parameterType="com.ssm.OaManager.entity.workflow.FlowInstance">
		delete from
		<include refid="table"></include>
		<where>
			<if test="flowInstanceId!=null">
			flow_instance_id = #{flowInstanceId}
			</if>
		</where>
	</delete>
	
	<!-- 批量删除 -->
	<delete id="deleteBatch" parameterType="List">
		delete from
		<include refid="table"></include>
		<where>
			flow_instance_id in
		</where>
		<foreach collection="list" item="item" index="index"
			open="(" close=")" separator=",">
			#{item.flowInstanceId}
		</foreach>
	</delete>
</mapper>
