<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssm.OaManager.entity.workflow.FlowLink">

	<!-- 实体映射关系 -->
	<resultMap type="com.ssm.OaManager.entity.workflow.FlowLink"
		id="FlowlinkMap">
		<id column="flow_link_id" property="flowLinkId"></id>

		<association property="flow"
			resultMap="com.ssm.OaManager.entity.workflow.FlowTemplate.flowMap"></association>
		<association property="fromStep" javaType="com.ssm.OaManager.entity.workflow.StepTemplate">
			<id column="from_step" property="stepId" />
		</association>
		<association property="toStep1" javaType="com.ssm.OaManager.entity.workflow.StepTemplate">
			<id column="to_step1" property="stepId" />
		</association>
		<association property="toStep2" javaType="com.ssm.OaManager.entity.workflow.StepTemplate">
			<id column="to_step2" property="stepId" />
		</association>
		<association property="toStep3" javaType="com.ssm.OaManager.entity.workflow.StepTemplate">
			<id column="to_step3" property="stepId" />
		</association>
		<association property="toStep4" javaType="com.ssm.OaManager.entity.workflow.StepTemplate">
			<id column="to_step4" property="stepId" />
		</association>
	</resultMap>

	<!-- 表 -->
	<sql id="table">
		tb_flow_link
	</sql>

	<!-- 批量插入 -->
	<insert id="insertBatch" parameterType="List">
		INSERT INTO
		<include refid="table"></include>
		(flow_id,from_step,to_step1,to_step2,to_step3,to_step4)
		values
		<foreach collection="list" item="item" index="index"
			separator=",">
			(#{item.flow.flowId,jdbcType=INTEGER},#{item.fromStep.stepId,jdbcType=INTEGER},#{item.toStep1.stepId,jdbcType=INTEGER},#{item.toStep2.stepId,jdbcType=INTEGER},#{item.toStep3.stepId,jdbcType=INTEGER},#{item.toStep4.stepId,jdbcType=INTEGER})
		</foreach>
	</insert>

	<!-- 通过ID查询 -->
	<select id="findAllByFlow" parameterType="com.ssm.OaManager.entity.official.Official"
		resultMap="FlowlinkMap">
		SELECT * FROM
		<include refid="table"></include>
		<where>
			<if test="flowId!=null">
				flow_id = #{flowId}
			</if>
		</where>
	</select>

	<!-- 根据ID删除 -->
	<delete id="deleteByFlowTemplate" parameterType="com.ssm.OaManager.entity.workflow.FlowTemplate">
		DELETE FROM 
		<include refid="table"></include>
		<where>
			flow_id = #{flowId}
		</where>
	</delete>

</mapper>
