<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ssm.OaManager.entity.stationery.Maintain" >
  <resultMap id="MaintainMap" type="com.ssm.OaManager.entity.stationery.Maintain" >
    <id column="maintaini_id" property="maintainiId" jdbcType="INTEGER" />
    <result column="maintaini_money" property="maintainiMoney" jdbcType="DOUBLE" />
    <result column="start_date" property="startDate" jdbcType="DATE" />
    <result column="ending_date" property="endingDate" jdbcType="DATE" />
    <result column="maintaini_descripti" property="maintainiDescripti" jdbcType="VARCHAR" />
    
    <association property="stationery"
	  resultMap="com.ssm.OaManager.entity.stationery.Stationery.StationeryMap"></association>
    <association property="user"
	  resultMap="com.ssm.OaManager.entity.User.userMap"></association>
  </resultMap>
  
	<!-- 列名 -->
	 <sql id="key">
	     <!-- 去掉最后一个, -->
	     <trim suffixOverrides=",">
	         <if test="user.userId!=null">
	             user_id,
	         </if>
	         <if test="stationery.stationeryId!=null">
	             stationery_id,
	         </if>
	         
	         <if test="maintainiMoney!=null">
	              maintaini_money,
	         </if>
	         <if test="startDate!=null">
	              start_date,
	         </if>
	         <if test="endingDate!=null">
	              ending_date,
	         </if>
	         <if test="maintainiDescripti!=null">
	              maintaini_descripti,
	         </if>
	     </trim>
	 </sql>
	 
	 <!-- 列值 -->
	 <sql id="value">
	    <!-- 去掉最后一个, -->
	    <trim suffixOverrides=",">
	        <if test="user.userId!=null">
	             #{user.userId,jdbcType=INTEGER},
	         </if>
	         <if test="stationery.stationeryId!=null">
	             #{stationery.stationeryId,jdbcType=INTEGER},
	         </if>
	     	 <if test="maintainiMoney!=null">
	              #{maintainiMoney},
	         </if>
	         <if test="startDate!=null">
	               #{startDate},
	         </if>
	         <if test="endingDate!=null">
	              #{endingDate},
	         </if>
	         <if test="maintainiDescripti!=null">
	              #{maintainiDescripti},
	         </if>
	    </trim>
	 </sql>
  
  <!-- 添加 -->
  <insert id="insert" parameterType="com.ssm.OaManager.entity.stationery.Maintain">
       insert into tb_maintaini (<include refid="key"/>)values(<include refid="value"/>)
  </insert>
  
  <!-- 根据ID删除 -->
  <delete id="deleteById" parameterType="java.io.Serializable">
       delete from tb_maintaini where maintaini_id = #{maintainiId}
  </delete>
  <!-- 修改 -->
  <update id="update" parameterType="com.ssm.OaManager.entity.stationery.Maintain">
      update tb_maintaini
      <set>
         	<if test="user.userId!=null">
	             user_id= #{user.userId,jdbcType=INTEGER},
	         </if>
	         <if test="stationery.stationeryId!=null">
	             stationery_id=#{stationery.stationeryId,jdbcType=INTEGER},
	         </if>
	         
	         <if test="maintainiMoney!=null">
	              maintaini_money= #{maintainiMoney},
	         </if>
	         <if test="startDate!=null">
	              start_date=#{startDate},
	         </if>
	         <if test="endingDate!=null">
	              ending_date=#{endingDate},
	         </if>
	         <if test="maintainiDescripti!=null">
	              maintaini_descripti= #{maintainiDescripti},
	         </if>
      </set>
      where maintaini_id = #{maintainiId}
  </update>
  <!-- 查询所有员工 -->
  <select id="findAll" resultMap="MaintainMap">
       select * from tb_maintaini  g 
      left join tb_user u on g.user_id = u.user_id 
      left join tb_stationery s on s.stationery_id = g.stationery_id
  </select>
  
<!--通过id查询一条数据 -->
	<select id="findById" parameterType="java.io.Serializable"
		resultMap="MaintainMap">
		   select * from tb_maintaini  g 
		      left join tb_user u on g.user_id = u.user_id 
		      left join tb_stationery s on s.stationery_id = g.stationery_id
		where
		g.maintaini_id = #{maintainiId}
	</select>
	
		<!-- 分页查询数据 -->
	<select id="findByPage" parameterType="com.ssm.OaManager.utils.PageBean"
		resultMap="MaintainMap">
			select * from tb_maintaini  g 
		      left join tb_user u on g.user_id = u.user_id 
		      left join tb_stationery s on s.stationery_id = g.stationery_id
		where 1=1
		limit 0 ,10
	</select>
	
	<!-- 查询记录数 -->
	<select id="findCount" parameterType="com.ssm.OaManager.utils.PageBean"
		resultType="int">
		select
		count(*)
		from tb_maintaini
	</select>
  
</mapper>