<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ssm.OaManager.entity.stationery.Stationerylibrary" >
  <resultMap id="StationerylibraryMap" type="com.ssm.OaManager.entity.stationery.Stationerylibrary" >
    <id column="statilibrary_id" property="statilibraryId" jdbcType="INTEGER" />
    <result column="statilibrary_name" property="statilibraryName" jdbcType="VARCHAR" />
    <result column="statilibrary_date" property="statilibraryDate" jdbcType="DATE" />
    <result column="statilibrary_descripti" property="statilibraryDescripti" jdbcType="VARCHAR" />
  </resultMap>
  
    <sql id="table">
		tb_stationerylibarary
	</sql>
	
	<!-- 列名 -->
	 <sql id="key">
	     <!-- 去掉最后一个, -->
	     <trim suffixOverrides=",">
	         <if test="statilibraryName!=null">
	             statilibrary_name,
	         </if>
	         <if test="statilibraryDate!=null">
	             statilibrary_date,
	         </if>
	         <if test="statilibraryDescripti!=null">
	              statilibrary_descripti,
	         </if>
	     </trim>
	 </sql>
	 
	 <!-- 列值 -->
	 <sql id="value">
	    <!-- 去掉最后一个, -->
	    <trim suffixOverrides=",">
	        <if test="statilibraryName!=null">
	             #{statilibraryName},
	         </if>
	         <if test="statilibraryDate!=null">
	             #{statilibraryDate},
	         </if>
	         <if test="statilibraryDescripti!=null">
	              #{statilibraryDescripti},
	         </if>
	    </trim>
	 </sql>
  
  <!-- 查询所有 -->
  <select id="findAll" resultMap="com.ssm.OaManager.entity.stationery.Stationerylibrary.StationerylibraryMap">
      select * from <include refid="table"/>
  </select>
  
	
	<!-- 按照ID查询 -->
	<select id="findById" parameterType="java.io.Serializable" resultMap="com.ssm.OaManager.entity.stationery.Stationerylibrary.StationerylibraryMap">
	    select * from tb_stationerylibarary where statilibrary_id=#{statilibraryId}
	</select>
	
	<!-- 添加 -->
	<insert id="insert" parameterType="com.ssm.OaManager.entity.stationery.Stationerylibrary">
       insert into <include refid="table"/>(<include refid="key"/>)values(<include refid="value"/>)
       <!-- insert into tb_stationerylibrary(statilibrary_name,statilibrary_date,statilibrary_descripti) 
       values(#{statilibraryName},#{statilibraryDate},#{statilibraryDescripti}) -->
    </insert>
	
	<!-- 删除 -->
	<delete id="deleteById" parameterType="com.ssm.OaManager.entity.stationery.Stationerylibrary">
	    delete from tb_stationerylibarary where statilibrary_id=#{statilibraryId}
	</delete>
	
	<!-- 修改 -->
	<update id="update" parameterType="com.ssm.OaManager.entity.stationery.Stationerylibrary">
	    update tb_stationerylibarary set statilibrary_name=#{statilibraryName},statilibrary_descripti=#{statilibraryDescripti}
	     where statilibrary_id=#{statilibraryId}
	</update>
</mapper>