<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper  namespace="com.ssm.OaManager.entity.Schedule"> 

			<resultMap type="com.ssm.OaManager.entity.Schedule" id="scheduleMap">
					<id property="scheduleId"  column="schedule_id"/>
					<result  property="scheduleDate"  column="schedule_date"/>
					<result  property="scheduleDesprict"  column="schedule_desprict"/>
					<association property="user" resultMap="com.ssm.OaManager.entity.User.userMap"></association>
			</resultMap>
			
						<sql id="key">
						    <!-- 去掉最后一个, -->
						    <trim suffixOverrides=",">
						        <if test="scheduleDate!=null">
						            schedule_date,
						        </if>
						        <if test="scheduleDesprict!=null">
						            schedule_desprict,
						        </if>
						        <if test="user.userId!=null">
						            user_id,
						        </if>
						    </trim>
					 </sql>
					 
					 <sql id="value">
						    <!-- 去掉最后一个, -->
						    <trim suffixOverrides=",">
						     	<if test="scheduleDate!=null">
						            #{scheduleDate},
						        </if>
						        <if test="scheduleDesprict!=null">
						             #{scheduleDesprict},
						        </if>
						        <if test="user.userId!=null">
						             #{user.userId},
						        </if>
						    </trim>
				  </sql>
			<!-- 添加数据 -->
			<insert id="insert"  parameterType="com.ssm.OaManager.entity.Schedule">
			 		insert into tb_schedule(<include refid="key"/>) values(<include refid="value"/>)
			</insert>
			
			<!-- 修改数据 -->
			<update id="update"   parameterType="com.ssm.OaManager.entity.Schedule">
					update tb_schedule  
						<set>
						       <if test="scheduleDate!=null">
						            schedule_date=#{scheduleDate},
						        </if>
						        <if test="scheduleDesprict!=null">
						            schedule_desprict= #{scheduleDesprict},
						        </if>
						        <if test="user.userId!=null">
						            user_id=#{user.userId},
						        </if>
    					</set>
    				where schedule_id = #{scheduleId}
			</update>
			
			<!-- 删除一条数据 -->
			<delete id="deleteById"  parameterType="java.io.Serializable">
								delete from  tb_schedule where schedule_id = #{scheduleId}
			</delete>
			
			<!-- 批量删除 -->
			<delete id="delete"  parameterType="java.util.Map">
					delete from  tb_schedule where schedule_id in
								 <!-- foreach用于迭代数组元素
							         open表示开始符号
							         close表示结束符合
							         separator表示元素间的分隔符
							         item表示迭代的数组，属性值可以任意，但提倡与方法的数组名相同
							         #{ids}表示数组中的每个元素值
							     -->
				    <foreach collection="ids" open="(" close=")" separator="," item="id">
				        		#{id}
				    </foreach>
			</delete>
			
			<!--通过id查询一条数据 -->
			<select id="findById"  parameterType="java.io.Serializable"  resultMap="scheduleMap">
				select * from tb_schedule
					where schedule_id = #{scheduleId}
			</select>

			<!-- 查询全部数据 -->
			<select id="findAll"  resultMap="scheduleMap" >
			  	select * from tb_schedule
			</select>
			
			<!-- 查询全部数据 -->
			<select id="findByUserAll" parameterType="java.util.Map"   resultMap="scheduleMap" >
			  	select * from tb_schedule 
			  	<where>
					  	<if test="scheduleDate!=null">
					  			and schedule_date=#{scheduleDate}
					  	</if> 
					  	<if test="userId!=null">
					  			and user_id = #{userId}
					  	</if>
			  </where>
			</select>
			
			<!-- 分页查询数据 -->
			<select id="findByPage"   parameterType="com.ssm.OaManager.utils.PageBean"  resultMap="scheduleMap" >
					select * from tb_schedule
					where 1=1  limit  #{firstPage} ,#{pageSize}
			</select>
			
			<!-- 查询记录数 -->
			<select id="findCount"  parameterType="com.ssm.OaManager.utils.PageBean"  resultType="int">
					select 
			            count(*)
			         from tb_schedule
			</select>
</mapper>