<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssm.OaManager.entity.workflow.FlowTemplate">

	<resultMap type="com.ssm.OaManager.entity.workflow.FlowTemplate"
		id="flowMap">
		<id column="flow_id" property="flowId" />
		<result column="flow_name" property="flowName" />
		<result column="create_date" property="createDate" />
		<result column="modify_date" property="modifyDate" />
		<result column="version" property="version" />

		<association property="user"
			resultMap="com.ssm.OaManager.entity.User.userMap"></association>
		<association property="flowType"
			resultMap="com.ssm.OaManager.entity.workflow.FlowType.FlowTypeMap"></association>
		<association property="modifyUser"
			resultMap="com.ssm.OaManager.entity.User.userMap"></association>
	</resultMap>

	<!-- 表 -->
	<sql id="table">
		tb_flow_template
	</sql>

	<!-- 添加 -->
	<sql id="key">
		<!-- 去掉最后一个, -->
		<trim suffixOverrides=",">
			<if test="flowName!=null">
				flow_name,
			</if>
			<if test="createDate!=null">
				create_date,
			</if>
			<if test="modifyDate!=null">
				modify_date,
			</if>
			<if test="version!=null">
				version,
			</if>
			<if test="flowType.flowTypeId!=null">
				flow_type_id,
			</if>
			<if test="user.userId!=null">
				user_id,
			</if>
			<if test="modifyUser.userId!=null">
				modify_user_id,
			</if>
		</trim>
	</sql>

	<sql id="value">
		<!-- 去掉最后一个, -->
		<trim suffixOverrides=",">
			<if test="flowName!=null">
				#{flowName},
			</if>
			<if test="createDate!=null">
				#{createDate},
			</if>
			<if test="modifyDate!=null">
				#{modifyDate},
			</if>
			<if test="version!=null">
				#{version},
			</if>
			<if test="flowType.flowTypeId!=null">
				#{flowType.flowTypeId,jdbcType=INTEGER},
			</if>
			<if test="user.userId!=null">
				#{user.userId,jdbcType=INTEGER},
			</if>
			<if test="modifyUser.userId!=null">
				#{modifyUser.userId,jdbcType=INTEGER},
			</if>
		</trim>
	</sql>

	<!-- 插入数据并返回主键 -->
	<insert id="insertAndGetId" useGeneratedKeys="true" keyProperty="flowId"
		parameterType="com.ssm.OaManager.entity.workflow.FlowTemplate">
		INSERT INTO
		<include refid="table" />
		(
		<include refid="key" />
		)
		VALUES
		(
		<include refid="value" />
		)
	</insert>

	<select id="findAll" resultMap="flowMap">
		SELECT
		f.*,t.flow_type_name,t.flow_description,u.user_name FROM tb_flow_template f inner
		join tb_flow_type t on f.flow_type_id = t.flow_type_id inner join tb_user u
		on f.user_id = u.user_id
	</select>
	
	<!-- 根据流程删除 -->
	<delete id="deleteById" parameterType="java.io.Serializable">
		DELETE FROM 
		<include refid="table"></include>
		<where>
			flow_id = #{flowId}
		</where>
	</delete>
</mapper>
