<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper  namespace="com.ssm.OaManager.entity.workflow.FlowType"> 
					
	<!-- 实体映射关系 -->
	<resultMap type="com.ssm.OaManager.entity.workflow.FlowType" id="FlowTypeMap">
		<!-- 主键 -->
		<id column="flow_type_id" property="flowTypeId"/>
		<result column="flow_type_name" property="flowTypeName"/>
		<result column="flow_description" property="flowDescription"/>
		
	</resultMap>

	<!-- 表 -->
	<sql id="table">
		tb_flow_type
	</sql>

	<!-- 获取所有记录 -->
	<select id="findAll" resultMap="FlowTypeMap">
		select * from <include refid="table"></include>
	</select>
	
</mapper>
