<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssm.OaManager.entity.privilege.Function">
	<resultMap type="com.ssm.OaManager.entity.privilege.Function" id="functionMap">
		<id property="funId" column="fun_id"/>
		<result property="funName" column="fun_name"/>
		<result property="funUrl" column="fun_url"/>
		<result property="funForbidden" column="fun_forbidden"/>
		<result property="funDescripti" column="fun_descripti"/>
	

		<collection property="roles"
			 ofType="com.ssm.OaManager.entity.privilege.Role" > 
			<id property="roleId" column="role_id" />
			<result property="roleName" column="role_name" />
			<result property="roleDescripti" column="role_descripti" />
			</collection>
			
	</resultMap>
	<sql id="key">
		<trim suffixOverrides=",">
			<if test="funId!=null">
				fun_id,
			</if>
			<if test="funName!=null">
				fun_name,
			</if>
			<if test="funUrl!=null">
				fun_url,
			</if>
			<if test="funForbidden!=null">
				fun_forbidden,
			</if>
			<if test="funDescripti!=null">
				fun_descripti,
			</if>
		</trim>
	</sql>
	<sql id="value">
		<trim suffixOverrides=",">
			<if test="funId!=null">
				#{funId},
			</if>
			<if test="funName!=null">
				#{funName},
			</if>
			<if test="funUrl!=null">
				#{funUrl},
			</if>
			<if test="funForbidden!=null">
				#{funForbidden},
			</if>
			<if test="funDescripti!=null">
				#{funDescripti},
			</if>
		</trim>
	</sql>

	<!-- 添加数据 -->
	<insert id="insert" parameterType="com.ssm.OaManager.entity.privilege.Function">
		insert into tb_function(
		<include refid="key" />
		) values(
		<include refid="value"/>
		)
	</insert>

	<!-- 修改数据 -->
	<update id="update" parameterType="com.ssm.OaManager.entity.privilege.Function">
		update tb_function
		<set>
			<if test="funName!=null">
				fun_name = #{funName},
			</if>
			<if test="funUrl!=null">
				fun_url =#{funUrl},
			</if>
			<if test="funForbidden!=null">
				fun_forbidden = #{funForbidden},
			</if>
			<if test="funDescripti!=null">
				fun_descripti = #{funDescripti},
			</if>
		</set>
		where fun_id = #{funId}
	</update>

	<!-- 根据ID删除 -->
	<delete id="deleteById" parameterType="java.io.Serializable">
		delete from tb_function where
		fun_id = #{funId}
	</delete>
	
	<!-- 批量删除 -->
	<delete id="delete" parameterType="java.util.Map">
		delete from tb_function where fun_id in
		<!-- foreach用于迭代数组元素 
			open表示开始符号 
			close表示结束符合 
			separator表示元素间的分隔符 
			item表示迭代的数组，属性值可以任意，但提倡与方法的数组名相同 
			#{ids}表示数组中的每个元素值 -->
		<foreach collection="ids" open="(" close=")" separator=","
			item="id">
			#{id}
		</foreach>
	</delete>
	
	<!-- 根据ID查询 -->
	<select id="findById" parameterType="java.io.Serializable"
		resultMap="functionMap">
		select f.fun_id,f.fun_name,f.fun_url,f.fun_forbidden,f.fun_descripti,
		r.role_id,r.role_name,r.role_descripti
		from tb_function f left join tb_rfmiddle m on m.fun_id = f.fun_id
		left join tb_role r on r.role_id = m.role_id
		where f.fun_id = #{funId}
	</select>

	<!-- 查询全部 -->
	<select id="findAll" resultMap="functionMap">
		select * from tb_function
	</select>

	<!-- 分页查询数据 -->
	<select id="findByPage" parameterType="com.ssm.OaManager.utils.PageBean"
		resultMap="functionMap">
		select f.fun_id,f.fun_name,f.fun_url,f.fun_forbidden,f.fun_descripti from tb_function f
		where 1=1 limit  #{firstPage} ,#{pageSize}
	</select>

	<!-- 查询记录数 -->
	<select id="findCount" parameterType="com.ssm.OaManager.utils.PageBean"
		resultType="int">
		select
		count(*)
		from tb_function f
	</select>
	
</mapper>
