<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssm.OaManager.entity.privilege.Middle">
	<resultMap type="com.ssm.OaManager.entity.privilege.Middle" id="middleMap">
		<association property="role" javaType="com.ssm.OaManager.entity.privilege.Role">
			<id property="roleId" column="role_id" />
			<result property="roleName" column="role_name" />
			<result property="roleDescripti" column="role_descripti" />
		</association>
		
		<association property="function" javaType="com.ssm.OaManager.entity.privilege.Function">
			<id property="funId" column="fun_id"/>
			<result property="funName" column="fun_name"/>
			<result property="funUrl" column="fun_url"/>
			<result property="funForbidden" column="fun_forbidden"/>
			<result property="funDescripti" column="fun_descripti"/>
		</association>
	</resultMap>
	
	<sql id="key">
		<trim suffixOverrides=",">
			<if test="role.roleId!=null">
				role_id,
			</if>
			<if test="function.funId!=null">
				fun_id,
			</if>
		</trim>
	</sql>
	
	<sql id="value">
		<trim suffixOverrides=",">
			<if test="role.roleId!=null">
				#{role.roleId},
			</if>
			<if test="function.funId!=null">
				#{function.funId},
			</if>
		</trim>
	</sql>
	
	<!-- 添加数据 -->
	<insert id="insert" parameterType="com.ssm.OaManager.entity.privilege.Middle">
		insert into tb_rfmiddle(<include refid="key"/>) values(<include refid="value"/>)
	</insert>
	
	<!-- 查询全部 -->
	<select id="findAll" resultMap="middleMap">
		select * from tb_rfmiddle
	</select>
	
	<!-- 根据角色编号查询 -->
	<select id="findByRoleId" parameterType="java.io.Serializable" resultMap="middleMap">
		select * from tb_rfmiddle where role_id = #{roleId}
	</select>
	
	<!-- 根据功能编号查询 -->
	<select id="findByFunId" parameterType="java.io.Serializable" resultMap="middleMap">
		select * from tb_rfmiddle where fun_id = #{funId}
	</select>
	
	<!-- 根据角色编号删除数据 -->
	<delete id="deleteByRoleId" parameterType="java.util.Map">
		delete from tb_rfmiddle where role_id in
		<foreach collection="ids" item="id" index="index" open="(" close=")" separator="," >  
         	#{id}
    	</foreach>
	</delete>
	
	<!-- 根据功能编号删除数据 -->
	<delete id="deleteByFunId" parameterType="java.util.Map">
		delete from tb_rfmiddle where fun_id in 
		<foreach collection="ids" item="id" index="index" open="(" close=")" separator="," >  
         	#{id}
    	</foreach>
	</delete>
	
</mapper>
